p.code_along {
	color: orange;
	font-family: courier;
	font-size: 2em;
}

span.code {
	font-family: "Courier New", courier, monospace;	
}

span.blue {
	color: LightSkyBlue;
}

span.green {
	color: OliveDrab;
}

span.orange {
	color: OrangeRed;
}
